@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&family=Roboto+Condensed:wght@300;700&display=swap');
/* Reset (adding before and after pseudo elements, because the asterisk doesn't cover them) */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-image: url('../../img/background.png');
  background-color: #121212;
  color: #ffb327;;
}

a {
  text-decoration: none;
  color: #ffb327;;
}

ul {
  list-style: none;
}


/* Header */

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  padding: 0 1.875rem;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  .logo {
    width: 13rem;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .desktop-main-menu {
    margin-right: 3.2rem;

    ul {
      display: flex;

      li {
        position: relative;
        margin-right: 1.25rem;
        padding-bottom: 0.125rem;

        a::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: #ac9bbf;
          transform: scaleX(0);
          transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform-origin: right center;
        }

        a:hover::after {
          transform: scaleX(1);
          transform-origin: left center;
          transition-duration: 0.6s;
        }

        a:hover {
          color: #ac9bbf;
        }
      }
    }
  }
}


/* Sections */

section {
  position: relative;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
}

.section-inner {
  position: absolute;
  bottom: 12.5rem;
  left: 9.375rem;
  max-width: 35rem;

  h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.375rem;
    margin-bottom: 0.313rem;
    font-weight: 300;
    animation: moveUp 0.5s ease-in-out;
  }

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    animation: moveUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
  }

  a {
    animation: moveUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;
  }
}


/* Sections - Backgrounds */

#section-about {
  background-image: url('../../img/about.jpg');
}

#section-discord {
  background-image: url('../../img/discord.png');
}

#section-forum {
  background-image: url('../../img/forum.jpg');
}

#section-reviews {
  background-image: url('../../img/reviews.png');
}

#section-news {
  background-image: url('../../img/news.jpg');
}

#section-tjpw {
  background-image: url('../../img/tjpw.jpg');
}


/* Buttons */

.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 8.125rem;
  padding: 0.938rem 3.125rem;
  margin-top: 0.625rem;
  border: 0.125rem solid #ffb327;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
  z-index: 2;

  &:hover .hover {
    transform: translateX(0);
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  &:hover span {
    color: #000;
  }

  & .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffb327;
    z-index: -1;
    transform: translateY(100%);
  }

  span {
    font-family: 'Roboto', sans-serif;
  }

}

.scroll-icon {
  position: absolute;
  bottom: 3.125rem;
  left: 50%;
  transform: translateX(-50%);
  animation: bouncyArrow 3.5s infinite;
}


/* Footer */

footer {
  position: relative;
  padding: 3.438 0;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li {
      margin-right: 1.875rem; 
      text-transform: uppercase;
      font-size: 0.813rem;
      line-height: 2.5;

      a {
        transition: color 0.6s;

        &:hover {
          color: #ac9bbf;
        }
      }
    }
  }
}


/* Animations */

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(8.75rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bouncyArrow {
  0%,
  20%,
  50%,
  80%,
  100% {
    opacity:0;
    transform: translateY(-1.25rem);
  }

  40% {
    opacity:1;
    transform: translateY(0);
  }
}